# General
PROJECT_NAME=simarro-ia-project
JUPYTERHUB_IMAGE=jupyterhub/jupyterhub:4.0.2
PIP_TOOLS_VERSION=7.4.1

DEFAULT_USER_PASSWORD=simarro2026

# lakeFS
LAKEFS_ACCESS_KEY_ID=AKIASIMARRO
LAKEFS_SECRET_ACCESS_KEY=simarrosecret
LAKEFS_SECRET_KEY=local-dev-secret-change-me

